[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
celery = ">=4,<5"
pymongo = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
redis = "*"
"boto3" = "*"
thoth-worker = {git = "https://github.com/thoth-station/selinon-worker"}
selinon = {extras = ["celery", "redis"], version = "*", git = "https://github.com/fridex/selinon@redis-no-password-fix"}

[dev-packages]

[requires]
python_version = "3.6"
