[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
selinon = {git = "https://github.com/selinon/selinon"}
celery = ">=4"
pymongo = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
redis = "*"
"boto3" = "*"

[dev-packages]

[requires]
python_version = "3.6"
